*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}
.navigation{
    /* border: 1px solid black; */
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.leftbar{
    /* border: 1px solid black; */
    height: 50px;
    width: 45%;
    font-size: 40px;
    font-family: 'Sixtyfour', sans-serif;
}
.rightbar{
    /* border: 1px solid black; */
    height: 50px;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.content{
    /* border: 1px solid black; */
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contentleft{
    /* border: 1px solid black; */
    height: 450px;
    width: 45%;
    font-size: 15px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5em;
}
.contentleft h1{
    font-size: 35px;
    line-height: 3em;
}
.contentright{
    /* border: 1px solid black; */
    height: 450px;
    width: 30%;
    border-radius: 50%;
}
.contentright img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: none;
}

/*  ---------------PROJECTS STYLING------------------ */

.Main{
    /* border: 1px solid black;
    height: 900px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.leftmain{
    /* border: 1px solid black; */
    height: 200px;
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.projects{
    /* border: 1px solid black; */
    height: 200px;
    width: 24%;
}
.projects img{
    height: 100%;
    width: 100%;
}
.pnames{
    /* border: 1px solid black; */
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ppnames{
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: bold;
}
.rightmain{
    /* border: 1px solid black; */
    height: 300px;
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
}
.Tpic{
    /* border: 1px solid black; */
    height: 300px;
    width: 24%;
}
.Tpic img{
    height: 100%;
    width: 100%;
}
.tnames{
    /* border: 1px solid black; */
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ttnames{
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: bold;
}
.para{
    /* border: 1px solid black; */
    height: 200px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.paras{
    /* border: 1px solid black; */
    font-size: 15px;
    width: 22%;
    
}





















/* .footer{
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftfooter{
    border: 1px solid black;
    height: 50px;
    width: 95%;
} */
