*{
    margin: 0;
    padding: 0;
}

.saylani{
    border: 1px solid black;
    text-align: center;
}
.reg{
    text-align: center;
}
.ser{
    text-align: center;
    color: ;
}
ul,li{
    display: inline-block;
}
.button{
    border: 1px solid black;
    margin: 
}